$gridi-helpers-text-size-classes: (
    text-size-big: (
        font-size: 2em,
        line-height: 1.4em,
        for-screens: (
            s4: (
                font-size: 2.6em,
                line-height: 1.3em
            )
        )
    ),
    text-size-extra-large: (
        font-size: 1.8em,
        line-height: 1.4em,
        for-screens: (
            s4: (
                font-size: 2.2em,
                line-height: 1.4em
            )
        )
    ),
    text-size-large: (
        font-size: 1.6em,
        line-height: 1.4em,
        for-screens: (
            s4: (
                font-size: 1.8em,
                line-height: 1.4em
            )
        )
    ),
    text-size-extra-medium: (
        font-size: 1.4em,
        line-height: 1.4em,
        for-screens: (
            s4: (
                font-size: 1.5em,
                line-height: 1.4em
            )
        )
    ),
    text-size-medium: (
        font-size: 1.2em,
        line-height: 1.4em
    )
) !default;